################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/debug
/Makefile.Release
/Makefile.Debug
/Makefile
/log2.txt
/log.txt
/assignment1.zip
/x64/Debug
/x64/Release
/release
